// Colors
$black: #000;
$white: #fff;

$application-background-color: $white;

$primary-color: none;
$primary-light-color: none;
$primary-dark-color: none;

$secondary-color: none;
$secondary-light-color: none;
$secondary-dark-color: none;

$color-gray-alpha: none;
$color-gray-beta: none;
$color-gray-gamma: none;
$color-gray-delta: none;
$color-gray-epsilon: none;
$color-gray-lambda: none;
$color-gray-digamma: none;
$color-gray-zeta: none;
$color-gray-eta: none;
$color-gray-theta: none;
$color-gray-iota: none;
$color-gray-kappa: none;
$color-gray-mu: none;
$color-gray-nu: none;
$color-gray-xi: none;
$color-gray-pi: none;
$color-gray-rho: none;
$color-gray: none;

$success-color: none;
$danger-color: none;
$warning-color: none;
$info-color: none;

// Fonts
$default-font-family: 'Gilroy', sans-serif;

$base-font-size: 15px;

// Screen Sizes
$max-desktop-screen: 768px;
$mobile-screen: 480px;
$medium-screen: 420px;
$small-screen: 360px;

// Images
$imageBasePath: '../../theme/assets/images/';
$poweredBy: url('../../theme/assets/images/powered-by.svg');
